In [10]:
from openbb import obb
import pandas as pd

In [12]:
obb.user.preferences.output_type="dataframe"

In [13]:
historical_prices = obb.equity.price.historical("aapl", provider="yfinance")

In [15]:
historical_prices

,open,high,low,close,volume,split_ratio,dividend
date,,,,,,,
2023-07-11,189.160004,189.300003,186.600006,188.080002,46638100,0.0,0.0
2023-07-12,189.679993,191.699997,188.470001,189.770004,60750200,0.0,0.0
2023-07-13,190.500000,191.190002,189.779999,190.539993,41342300,0.0,0.0
2023-07-14,190.229996,191.179993,189.630005,190.690002,41573900,0.0,0.0
2023-07-17,191.899994,194.320007,191.809998,193.990005,50520200,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-05,221.649994,226.449997,221.649994,226.339996,60412400,0.0,0.0
2024-07-08,227.089996,227.850006,223.250000,227.820007,59085900,0.0,0.0
2024-07-09,227.929993,229.399994,226.369995,228.679993,48076100,0.0,0.0
2024-07-10,229.300003,233.080002,229.250000,232.979996,62557700,0.0,0.0
2024-07-11,231.311996,232.389999,225.770004,228.323196,35283932,0.0,0.0

In [ ]:
# Get list of top high yield dividend etfs - benchmarks
# Get list of dividend stocks - portfolio